body {
    width: 1512px;
    background-color: #E6E6EC;
    font-family: "roboto";
    font-style: normal;
}

header {
    width: 1512px;
    height: 217px;
}

header img {
    position: absolute;
    width: 160px;
    height: 160px;
    margin-top: 35px;
    margin-left: 60px;
}

header h1 {
    position: absolute;
    width: 294px;
    height: 47px;
    margin-left: 629px;
    margin-top: 80px;
    color: #373867;
}

header p {
    position: absolute;
    width: 130px;
    height: 13px;
    margin-left: 780px;
    margin-top: 120px;
    color: #373867;
    font-weight: 700px;
    font-size: 14px;
    line-height: 16px;
}

aside {
    float: left;
    width: 271px;
    height: 5500px;
}

nav {
    position: sticky;
    width: 271px;
    height: 5500px;
    background-color: #373867;
}

nav div {
    position: fixed;
    width: 244px;
    height: 465px;
    color: #E6E6EC;
    text-align: center;
}

.a-contact {
    margin-top: 50px;
}

nav p {
    margin-left: 20px;
    margin-top: -20px;
}

li {
    width: 80px;
    height: 40px;
    margin-top: 50px;
    margin-left: 55px;
    list-style: none;
}

a {
    color: #FFFFFF;
    font-weight: 800px;
    font-size: 23px;
    line-height: 27px;
    text-decoration: none;
}

h1, h2 {
    font-weight: 700px;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
}

form {
    position:absolute;
    width: 665px;
    height: 694px;
    margin-left: 600px;
    margin-top: 4750px;
    border: 2px solid black;
    background-color: #FFFFFF;
    align-items: center;
}

form h5 {
    color: #373867;
    font-weight: 500px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

textarea {
    margin-top: 50px;
    margin-left: 100px;
    color: #373867;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}

footer {
    width: 1512px;
    height: 100px;
    margin-top: 5500px;
    padding-top: 30px;
    padding-left: 220px;
    background-color: #FFFFFF;
    text-align: center;
}

h6 {
    margin-top: 20px;
    font-weight: 600px;
    font-size: 14px;
    line-height: 16px;
}

.container-01 {
    position: absolute;
    width: 1241px;
    height: 700px;
    margin-left: 271px;
    background-image: url("../../Assets/Images/blue-gym-banner.png");
    background-repeat: no-repeat;
    background-position: center top;
}

.container-01 h2 {
    width: 1030px;
    height: 70px;
    margin-top: 160px;
    margin-left: 100px;
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 60px;
    line-height: 70px;
}

.container-01 p {
    width: 597px;
    height: 158px;
    margin-left: 300px;
    color: #FFFFFF;
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
}

.container-02 {
    position: absolute;
    width: 1241px;
    height:624px;
    margin-top: 575px;
    margin-left: 271px;
}

.container-02 h2 {
    width: 392px;
    height: 47px;
    margin-top: 100px;
    margin-left:150px;
    color: #373867;
}

.container-02 p {
    width: 591px;
    height: 282px;
    margin-left: 80px;
    font-weight: 700px;
    font-size: 40px;
    line-height: 47px;
    color:#373867;
}

.container-02 img {
    float: right;
    width: 577px;
    height: 577px;
    margin-top:-480px;
    margin-left: 600px;
}

.activities {
    position:absolute;
    width: 1241px;
    height: 1030px;
    margin-top: 1150px;
    margin-left: 271px;
}

.activities h2 {
    width: 540px;
    height: 47px;
    margin-top:80px;
    margin-right:800px;
    padding: 30px 80px;
    background-color: #373867;
    color:#FFFFFF;
}

.activities h4 {
    width: 400px;
    height: 40px;
    padding-top: 100px;
    padding-left: 40px;
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
}

.activities p {
    width: 400px;
    height: 90px;
    padding-left: 50px;
    color: #FFFFFF;
    font-weight: 700px;
    font-size :40px;
    line-height: 47px;
    text-align: center;
}

.img-crossfit {
    width: 461px;
    height: 471px;
    margin-top: 125px;
    margin-left: 156px;
    background-image: url(../../Assets/Images/crossfit.png);
    background-size: cover;
}

.img-spinning {
    width: 461px;
    height: 471px;
    margin-top: -524px;
    margin-left: 617px;
    background-image: url(../../Assets/Images/spinning.png);
    background-size: cover;
}

.img-functional {
    width: 461px;
    height: 471px;
    margin-top: -54px;
    margin-left: 156px;
    background-image: url(../../Assets/Images/funcional.png);
    background-size: cover;
}

.img-boxing {
    width: 461px;
    height: 471px;
    margin-top: -524px;
    margin-left: 617px;
    background-image: url(../../Assets/Images/boxi.png);
    background-size: cover;
}

.img-fitness {
    width: 461px;
    height: 471px;
    margin-top: -54px;
    margin-left: 156px;
    background-image: url(../../Assets/Images/musculacion.png);
    background-size: cover;
}

.memberships {
    position: absolute;
    width: 1241px;
    margin-top: 2900px;
    margin-left: 271px;
}

.memberships h2 {
    width: 540px;
    height: 47px;
    margin-top: 80px;
    padding: 35px 80px;
    color: #FFFFFF;
    background-color: #373867;
}

.memberships article {
    float: left;
    width: 33.3%;
    text-align: center;
    box-sizing: border-box;
}

.memberships img {
    float: center;
    width: 395px;
    height: 402px;
}

.memberships h3 {
    width: 237px;
    height:  71px;
    padding-left: 71px;
    color: #373867;
    font-weight: 700px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.memberships li {
    width: 270px;
    height: 20px;
    margin-left: 9px;
    color:#373867;
    font-size: 20px;
    line-height: 18px;
}

.memberships p {
    width: 378px;
    height:15px;
    margin-top: 50px;
    border-top: 1px solid #373867;
    padding-top: 30px;
    color:#373867;
    text-align: center;
}

.memberships button {
    width: 377px;
    height: 72px;
    margin-top: 25px;
    background-color: #49A373;
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 30px;
    line-height: 36px;
}

.memb-text-only {
    position: absolute;
    width: 375px;
    height: 396px;
    margin-top: -50px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border-top: 46px solid #979797;
    border-radius: 5px;
}

.memb-text-class {
    position: absolute;
    width: 375px;
    height: 520px;
    margin-top: -50px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border-top: 46px solid #979797;
    border-radius: 5px;
}

.memb-text-black {
    position: absolute;
    width: 375px;
    height: 590px;
    margin-top: -50px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border-top: 46px solid #979797;
    border-radius: 5px;
}

.universe {
    position: absolute;
    width: 1241px;
    height: 508px;
    margin-top: 4200px;
    margin-left: 271px;
    background-color:#AACE9B;
}

.universe h3 {
    width: 495px;
    height: 100px;
    margin-left: 130px;
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 65px;
    line-height: 76px;
}

.universe h4 {
    width: 200px;
    height: 15px;
    margin-left: 130px;
    font-weight: 400px;
    font-size: 33px;
    line-height: 38px;
    color: #FFFFFF;
    text-align: center;
}

.universe p {
    width: 400px;
    height: 100px;
    margin-left: 130px;
    margin-bottom: 300px;
    color:#FFFFFF;
    font-weight: 400px;
    font-size: 33px;
    line-height: 38px;
}

.universe img {
    float: right;
    width: 400px;
    height: 360px;
    margin-top: -610px;
}

.option1 {
    display: inline-block;
    width: 200px;
    height: 25px;
    margin-left: 50px;
    padding: 5px 10px 0px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color:#373867;
    font-weight: 500px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.option2 {
    width: 280px;
    height: 24px;
    margin-top: -33px;
    margin-left: 320px;
    padding: 5px 10px 0px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color:#373867;
    font-weight: 500px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.option3 {
    width: 400px;
    height: 25px;
    margin-top: 30px;
    margin-left: 120px;
    padding: 5px 10px 0px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color:#373867;
    font-weight: 500px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.placeholder-name {
    width: 300px;
    height: 50px;
}

.placeholder-name input {
    width:200px;
    height: 20px;
    margin-top: 60px;
    margin-left: 80px;
    padding:5px 10px;
    border: 1px solid #373867;
    border-radius: 5px;
    color: grey
}

.placeholder-surname {
    width: 300px;
    height: 50px;
}

.placeholder-surname input {
    width: 200px;
    height: 20px;
    margin-top: 10px;
    margin-left: 350px;
    padding:5px 10px;
    border: 1px solid #373867;
    border-radius: 5px;
    color: grey
}

.placeholders-email {
    width: 384px;
    height: 50px;
}

.placeholders-email input {
    width: 430px;
    height: 20px;
    margin-top: 20px;
    margin-left: 100px;
    padding: 5px 10px;
    border: 1px solid #373867;
    border-radius: 5px;
    color: grey
}

.submit-bottom {
    width: 156px;
    height: 35px;
    margin-top: 50px;
    margin-left: 250px;
    border-radius: 5px;
    background-color: #AACE9B;
    color:#373867;
    text-align: center;
    font-size: 13px;
}

.footer a {
    padding: 10px 50px;
}