<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Mega Rocket Gym</title>
        <meta name="description" content="Login of Mega Rocket Gym">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="icon" href="../Assets/Images/radium-rocket.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
      <header>
        <img class="logo" src="../../Assets/Images/radium-rocket-logo.png" alt="Logo Rocket">
        <div>
          <h1>THE BEST GYM</h1>
          <p>MEGA ROCKET S.A</p>
        </div>
        <img class="icon-menu" src="../../Assets/Images/menu-icon.png" alt="menu-icon">
      </header>
      <main>
        <aside>
          <nav>
            <ul>
              <li><a href="#log-in">Log-In</a></li>
              <li><a href="#sign-up">Sign-Up</a></li>
              <li><a href="#Home">Home</a></li>
            </ul>
          </nav>
        </aside>
        <div class="main-content">
          <form action="" name="form-info" autocomplete="on" >
            <h2>Log-In</h2>
            <div class="labels">
              <label for="form-info">Email:</label>
              <input id="email" type="text" name="email" value="example@example.com">
              <label for="password">Password:</label>
              <input id="name" type="passwrod" name="password" value="Password">
            </div>
            <div class="remember-forgot">
              <label class="check-remember"><input type="checkbox">Remember me</label>
              <p><a href="forgot-psw">Forgot your password?</a></p>
            </div>
            <input class="submit-bottom"type="submit" value="Login">
          </form>
        </div>
      </main>
    </body>
    </html>