footer {
    display:flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    margin-top: 5%;
}

footer img {
    padding: 5px;
    width: 30px;
    height: 30px;
}


@media (min-width: 601px) and (max-width: 1024px) {
    footer {
        height: 2em;
        justify-content: center;
        margin: 0;
    }

    footer a {
        padding: 0em 2em;
    }
}

@media (min-width: 1024px) {
    footer {
        height: 2em;
        justify-content: center;
        margin: 0;
    }

    footer a {
        padding: 0em 2em;
    }
}