header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

header h1 {
    margin-right: 40px;
    color: #373867;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

header p {
    margin-top: -20px;
    margin-left: 27px;
    color: #373867;
    font-weight: 700;
    font-size: 9px;
}

header img {
    width: 90px;
    height: 90px;
}

header .icon-menu {
    width: 30px;
    height: 30px;
    margin-right: 5%;
}