.aside {
    display: none;
}

.our-philoshophy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    background-image: url("../../Assets/Images/blue-gym-banner.png");
    background-position: center top;
    background-size: cover;
}

.our-philoshophy h2 {
    padding: 2em 0em 1em 0em;
}

.our-philoshophy p {
    width: 70%;
    padding-bottom: 1em;
    font-weight: 400;
}

.why-mega-rocket {
    margin: 10% 0;
    color: #373867;
}

.why-mega-rocket p {
    width: 80%;
    margin: 5% 10%;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.5em;
}

.why-mega-rocket img {
    display: none;
}

.activities {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.activities div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:270px;
    height: 270px;
    margin-bottom: 10px;
}

.activities h2 {
    margin-bottom: 10%;
    padding: 15px 40px;
    align-self: flex-start;
    background-color: #373867;
    color: #FFFFFF;
}

.activities h4 {
    color: #FFFFFF;
    line-height: 1em;
}

.activities p {
    width: 100%;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.7em;
    line-height: 1em;
}

.img-crossfit {
    background-image: url("../../Assets/Images/crossfit.png");
    background-position: center top;
    background-size: cover;
}

.img-spinning {
    background-image: url("../../Assets/Images/spinning.png");
    background-position: center top;
    background-size: cover;
}

.img-functional {
    background-image: url("../../Assets/Images/funcional.png");
    background-position: center top;
    background-size: cover;
}

.img-boxing {
    background-image: url("../../Assets/Images/boxi.png");
    background-position: center top;
    background-size: cover;
}

.img-fitness {
    background-image: url("../../Assets/Images/musculacion.png");
    background-position: center top;
    background-size: cover;
}

.memberships {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memberships h2 {
    margin: 15% 0;
    padding: 15px 40px;
    align-self: flex-start;
    background-color: #373867;
    color: #FFFFFF;
}

.memberships img {
    width: 100%;
    height:100%;
}

.memberships h3 {
    margin: 5% 0;
    color: #373867;
    line-height: 1em;
}

.memberships p {
    width: 100%;
    padding: 1.5em 0em;
    color: #373867;
    border-top: 1px solid #AFAFC2;
    font-weight: 400;
    font-size: 1.2em;
}

.memberships button {
    width: 100%;
    background-color: #49A373;
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 2.4em;
    line-height: 2em;
}

[class^="memb-text"] {
    position: relative;
    width: 80%;
    margin: -50px 10% 10% 10%;
    background-color: #FFFFFF;
    border-top: 46px solid #979797;
    border-radius: 5px;
}

[class^="memb-text"] ul {
    margin: 5% 0;
    color: #373867;
    list-style: none;
    line-height: 30px;
}

[class^="memb-text"] li {
    padding: 2% 0;
}

.banners {
    display: flex;
    flex-direction: column;
}

[class^="universe"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

[class^="universe"] h3 {
    margin: 10% 10% 5% 10%;
    font-weight: 700;
    font-size: 4em;
    line-height: 1em;
}

[class^="universe"] h4 {
    width: 80%;
    margin: 0% 10% 5% 10%;
    font-weight: 400px;
    font-size: 1.7em;
    line-height: 1em;
}

[class^="universe"] img {
    width: 30%;
    height: 30%;
    margin: 5% 0;
}

.universe-reservation {
    background-color: #AACE9B;
}

.universe-reservation h3 {
    color: #FFFFFF;
}

.universe-reservation h4 {
    color: #FFFFFF;
}

.universe-reservation p {
    color: #FFFFFF;
}


.universe-membership {
    display: none;
    background-color: #373867;
}

.universe-membership h3 {
    color: #FFFFFF;
}

.universe-membership h4 {
    color: #FFFFFF;
}

.universe-membership p {
    color: #FFFFFF;
}

.universe-schedule {
    display: none;
    background-color: #FFFFFF;
}

.universe-schedule h3 {
    color: #373867;
}

.universe-schedule h4 {
    color: #373867;
}

.universe-schedule p {
    color: #373867;
}

.universe-contact {
    display: none;
    background-color: #919194;
}

.universe-contact h3 {
    color: #373867;
}

.universe-contact h4 {
    color: #373867;
}

.universe-contact p {
    color: #373867;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10% 10%;
    background-color: #FFFFFF;
    border-radius: 20px;
}

form h5 {
    margin: 1em 0;
    color: #373867;
    font-weight: 500px;
    font-size: 1.8em;
    line-height: 1.8em;
    text-align: center;
}

.select-form {
    display:flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 0.7em;
    color: #373867;
    border: 1px solid #373867;
    border-radius: 5px;
    padding: 0.8em;
    margin-bottom: 1em;
}

.select-form label {
    margin-left: 3px;
}

.placeholder {
    display: flex;
    border-radius: 5px;
    color: #373867;
    opacity: 0.5;
}

.placeholder input {
    width: 100%;
    margin: 1em;
    padding: 5px;
}

.placeholder-email {
    border-radius: 5px;
    color: #373867;
    opacity: 0.5;
    margin: 1em;
}

.placeholder-email input {
    padding:5px;
}

textarea {
    width: 80%;
    color: #373867;
    font-weight: 500;
    font-size: 1em;
    line-height: 1em;
}

.submit-bottom {
    margin: 1em 0em;
    padding: 0.7em 1.7em;
    border-radius: 5px;
    background-color: #AACE9B;
    color:#373867;
    font-size: 1em;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .why-mega-rocket {
        display: flex;
        align-items: center;
    }

    .why-mega-rocket img {
        display: block;
        width: 50%;
        height: 50%;
    }

    .activities article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .activities div {
        margin: 0;
    }

    .memberships article {
        width: 80%;
        margin: 5% 10%;
    }

    .universe-reservation {
        display:flex;
        flex-direction: row;
    }

    form {
        display: block;
    }

    form h5 {
        margin:0;
        padding: 1em;

    }

    form div:nth-child(2) {
        display: inline-block;
        margin-right: 0.3em;
        margin-bottom: 2em;
    }

    form div:nth-child(3) {
        display: inline-block;
    }

    form div:nth-child(4) {
        display: inline-block;
        margin-top: 0.7em;
        margin-bottom: 2em;
    }

    .submit-bottom {
        display: block;
        margin-left: 40%;
    }

    textarea {
        width: 80%;
    }
}


@media (min-width: 1025px) {
    main {
        display: flex;
    }

    .main-content {
        width: 80%;
    }

    .aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        padding: auto;
        background-color: #373867;
    }

    aside {
        padding: auto;
    }

    nav {
        position: fixed;
        text-align: center;
        color: #FFFFFF;
    }

    nav li {
        margin-top: 2em;
        list-style: none;
    }

    nav a {
        font-weight: 800;
        font-size: 1.5em;
        line-height: 2em;
        color: #FFFFFF;
        text-decoration: none;
    }

    nav p {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 1em;
        line-height: 1.4em;
    }

    .our-philoshophy p {
        width: 60%;
    }

    .our-philoshophy p {
        margin-bottom: 5em;
    }

    .why-mega-rocket {
        display: flex;
        align-items: center;
    }

    .why-mega-rocket h2 {
        font-size: 2.4em;
    }

    .why-mega-rocket p {
        font-size: 2em;
    }

    .why-mega-rocket img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .activities article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .activities div {
        margin: 0;
        width: 25em;
        height: 25em;
    }

    .memberships {
        display:flex;
    }

    .memberships h2 {
        width: 50%;
    }

    .memberships-01 {
        display: flex;
    }

    .memberships img {
        width:100%;
        height: 400px;
    }

    .memberships h3 {
        font-weight: 700px;
        font-size: 2em;
        line-height: 2em;
        text-align: center;
    }

    .memberships button {
        margin-top: 25px;
        background-color: #49A373;
        color: #FFFFFF;
        font-weight: 700px;
        font-size: 1.5em;
        line-height: 2em;
    }

    .universe-reservation {
        display:flex;
        flex-direction: row;
    }

    form {
        display: block;
    }

    form h5 {
        margin:0;
        padding: 1em;

    }

    form div:nth-child(2) {
        display: inline-block;
        margin-right: 0.3em;
        margin-bottom: 2em;
    }

    form div:nth-child(3) {
        display: inline-block;
    }

    form div:nth-child(4) {
        display: inline-block;
        margin-top: 0.7em;
        margin-bottom: 2em;
    }

    .placeholder {
        padding: 9px;
    }

    .placeholder-email {
        padding: 9px;
        margin-bottom: 3em;
    }

    .submit-bottom {
        display: block;
        margin-left: 40%;
    }

    textarea {
        width: 60%;
    }
}